@import "./variables";
.App-wrapper-styles {
  margin: 0px;
}

.App-content-styles {
  margin-left: 0px;
  max-width: 100%;
}

.light-text {
  font-weight: 300;
}

.form-control,
.modal-content {
  border-radius: $border-radius !important;
}
