.AddCompanyModal-styles {
  opacity: 1;
}

.AddCompanyModal-card-styles {
  margin-bottom: 0px;
}

.AddCompanyModal-cardBody-styles {
  text-align: center;
}

.AddCompanyModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddCompanyModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddCompanyModal-input-styles {
  margin: 20px;
}

.AddCompanyModal-submitButton-styles,
.AddCompanyModal-submitButton-styles:hover {
  color: white;
}
