.AddUserModal-styles {
  opacity: 1;
}

.AddUserModal-card-styles {
  margin-bottom: 0px;
}

.AddUserModal-cardBody-styles {
  text-align: center;
}

.AddUserModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddUserModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddUserModal-input-styles {
  margin: 20px;
}

.AddUserModal-submitButton-styles,
.AddUserModal-submitButton-styles:hover {
  color: white;
}
