.ListCompanies-card-styles {
  background: transparent;
  border-radius: 10px;
}

.ListCompanies-cardHeader-styles {
  background: transparent;
  border-radius: 10px;
}

.ListCompanies-addUserButton-styles {
  margin-left: 20px;
  background: #fcb87a;
  color: white;
}
