.AddContractModal-styles {
  opacity: 1;
}

.AddContractModal-card-styles {
  margin-bottom: 0px;
}

.AddContractModal-cardBody-styles {
  text-align: center;
}

.AddContractModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.AddContractModal-img-styles {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.AddContractModal-input-styles {
  margin: 20px;
}

.AddContractModal-submitButton-styles,
.AddContractModal-submitButton-styles:hover {
  color: white;
}
