.ListUsers-card-styles{
    background: transparent;
    border-radius:10px
}

.ListUsers-cardHeader-styles{
    background: transparent;
    border-radius:10px
}

.ListUsers-addUserButton-styles{
    margin-left:20px;
    background:#FCB87A;
    color:white
}