.ListContracts-card-styles {
  background: transparent;
  border-radius: 10px;
}

.ListContracts-cardHeader-styles {
  background: transparent;
  border-radius: 10px;
}

.ListContracts-addUserButton-styles {
  margin-left: 20px;
  background: #fcb87a;
  color: white;
}
