* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-animation-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

a {
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.h1-login {
  margin: 10%;
  color: #666666;
  font-size: 40px;
}

.p-login {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.loginCard-component {
  width: 90%;
  height: 95%;
}

.loginCard-component-cardRight {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.loginButton-component {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  color: white;
}

.logo-component {
  width: 150px;
  height: 45px;
  margin-bottom: 50px;
}

.login_img_component {
  width: 90%;
  height: 90%;
}

.formLogin-component {
  width: 320px;
  height: 328px;
  align-items: center;
}

.input-login-component {
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .container {
    position: absolute;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;

    background: #FCB87A ;
    border-radius: 20px;
} */
