@import "../../../../../assets/scss/variables";

.ContractDetailModal-styles {
  opacity: 1;
}

.ContractDetailModal-card-styles {
  margin-bottom: 0px;
}

.ContractDetailModal-cardBody-styles {
  text-align: center;
}

.ContractDetailModal-h2-styles {
  color: black;
  text-align: center;
  margin: 10px;
}

.ContractDetailModal-img-styles {
  width: 90px;
  height: 90px;
}

.ContractDetailModal-submitButton-styles,
.ContractDetailModal-submitButton-styles:hover {
  color: white;
}

.ContractDetailModal-optionButton-styles {
  text-align: center;
  margin: 0px 10px;
}

.ContractDetailModal-light-text {
  font-weight: 400;
}

.ContractDetailModal-statistics-container {
  background-color: $light-gray;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0px 15px;
}

.ContractDetailModal-form {
  margin-top: 20;
  opacity: 1;
  position: static;
  visibility: visible;
}

.ContractDetailModal-form-hidden {
  margin-top: 20;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
